# pipeline de análisis de datos para reportes fiscales y contables

## Enfoque: 
Base de Datos funcional y actualizable con Visual Studio Code, MySQL y DBeaver

## Etapas o Prioridades: 
*	Contable: Flujo de Caja
*	Fiscal: Informe periodico de IVA
*	Fiscal: Informe periodico de ICA
*	Fiscal: Informe periodico de Retenciones en la fuente
*	Fiscal: Informe periodico de Impuesto sobre la Renta
*	Fiscal: reporte de informaciòn exógena
*	Contable: Estados Financieros básicos
*	Contable: Notas a Estados Financieros

## OBJETIVO
Crear y actualizar una base de datos en Google Drive u otro lugar en la nube conformada por una tabla de transacciones para generar reportes y archivos de Excel. Esto en un entorno de Visual Studio Code con las extensiones de Jupyter Notebook, Github Copilot, Python y MySQL. Se usará DBeaver como complemento.

## Tablas
La tabla de transacciones junto con las tablas maestras:
* Puede servir de fuente para crear una nueva tabla segmentada que será complementada con información de la correspondiente tabla maestra, con lo cual se crearán muchas tablas.
  * Pros: Distribución de peso de la Base de dato (tablas más pequeñas)
  * Contras: Riesgo de que se pierda o se deje de actualizar una o más tablas. Implementar validaciones constantes
  * Por definir: portabilidad
* Puede ser actualizada con la información de las tablas maestras. Un campo para actualizar cada tabla maestra, con lo cual se generará una sola tabla (robusta y/o pesada).
  * Pro: Una sola tabla que facilita el control y las validaciones
  * Pro: Integridad, elimina el riesgo de se olvide trasladar o actualizar una tabla
  * Contras: Puede llegar a ser muy pesada
  * Por definir: portabilidad

## JUSTIFICACIÓN
1.	Construir proyectos que se visualicen en Github usando herramientas de análisis de datos y manejo de bases de datos.
2.	Desarrollar una herramienta de automatice el trabajo.
3.	Estructurar la base de datos para el desarrollo de aplicación web o escritorio.
4.	Adquirir experiencia

## HERRAMIENTAS
* Entorno virtual.
* Visual Studio Code + extensiones1 → Jupyter Notebook, Python, MySQL y Github Copilot.
* Git y Github como herramienta de versionamiento.
* Dbeaver.

Entorno virtual
* Abrir la terminal integrada en Visual Studio Code (View -> Terminal)
* cd path_to_your_environment → ruta al directorio donde se encuentra tu entorno virtual
* \env\Scripts\activate → activa el entorno virtual

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime

import mysql.connector
import configparser
from sqlalchemy import create_engine
import pymysql
import sys

import matplotlib.pyplot as plt
# import seaborn as sns
# from scipy import stats
# from sklearn.preprocessing import StandardScaler
# from sklearn.cluster import KMeans

In [2]:
# Cambia el directorio de trabajo a 'C:/path/to/your/directory'
os.chdir('C:/Emprendimiento/Pry_Datos/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento\Pry_Datos

In [3]:
# Lectura de archivo xls: instalar paquete xlrd
df_Bce_00 = pd.read_excel(r'data_2023_Bce.xls')

# Muestra las primeras 5 filas del DataFrame
df_Bce_00.head()

,CUENTA,NIT / C. C.,TIPO,NOMBRE,NIVEL,NATURALEZA,SALDO INICIAL,DEBITO,CREDITO,SALDO FINAL
0,1,NaN,NaN,ACTIVO,1,D,2.807411e+08,2.014495e+09,2.126990e+09,1.682466e+08
1,11,NaN,NaN,DISPONIBLE,2,D,3.964723e+07,8.628593e+08,8.537267e+08,4.877987e+07
2,1105,NaN,NaN,CAJA,3,D,3.800000e+01,0.000000e+00,3.800000e+01,0.000000e+00
3,110505,NaN,NaN,CAJA GENERAL,4,D,3.800000e+01,0.000000e+00,3.800000e+01,0.000000e+00
4,1120,NaN,NaN,CUENTAS DE AHORRO,3,D,3.964720e+07,8.628593e+08,8.537267e+08,4.877987e+07

In [4]:
print(df_Bce_00.columns)

Index(['CUENTA', 'NIT / C. C.', 'TIPO', 'NOMBRE', 'NIVEL', 'NATURALEZA',
       'SALDO INICIAL', 'DEBITO', 'CREDITO', 'SALDO FINAL'],
      dtype='object')

In [5]:
# Elimina columnas no funcionales del Balance
df_Bce_00.drop('TIPO', axis=1, inplace=True)
df_Bce_00.drop('NIT / C. C.', axis=1, inplace=True)
df_Bce_00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CUENTA         262 non-null    int64
 1   NOMBRE         262 non-null    object
 2   NIVEL          262 non-null    int64
 3   NATURALEZA     262 non-null    object
 4   SALDO INICIAL  262 non-null    float64
 5   DEBITO         262 non-null    float64
 6   CREDITO        262 non-null    float64
 7   SALDO FINAL    262 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 16.5+ KB

In [6]:
# Lectura de archivo xlsx: previamente instalar paquete openpyxl 
df_Mov_00 = pd.read_excel(r'data_2023_Mov.xlsx')

# Muestra las primeras 5 filas del DataFrame
df_Mov_00.head()

,FECHA,DOCUMENTO,TIPODOC,NUMDOC,CUENTA,NOM_CUENTA,CONCEPTO,NATURALEZA,CENTRO,CODIGO_CTABANCARIA,...,IND_CONTABILIDAD,DV,NOMBRETERCERO,CUENTA_BANCARIA,NOM_CENTRO,DESCRIPCION_CORTA,DIRECCION,TELEFONOS,NOM_CIUDAD,C_C
0,2023/04/19,FC 00000433,FC,433,51350501,SERVICIO ASEO,OPERARIO DE ASEO Y LIMPIEZA,D,NaN,NaN,...,11263,3.0,FIXXTER SAS,NaN,NaN,NaN,CL 126 70 G 62,2853984,BOGOTÁ,NaN
1,2023/04/19,FC 00000433,FC,433,51350501,SERVICIO ASEO,OPERARIO DE ASEO Y LIMPIEZA,D,NaN,NaN,...,11264,3.0,FIXXTER SAS,NaN,NaN,NaN,CL 126 70 G 62,2853984,BOGOTÁ,NaN
2,2023/04/19,FC 00000433,FC,433,24081002,IVA DESCONTABLE SERVICIOS 19% TRANSITORIO,OPERARIO DE ASEO Y LIMPIEZA,D,NaN,NaN,...,11265,3.0,FIXXTER SAS,NaN,NaN,NaN,CL 126 70 G 62,2853984,BOGOTÁ,NaN
3,2023/04/19,FC 00000433,FC,433,23355004,SERVICIO DE ASEO,OPERARIO DE ASEO Y LIMPIEZA,C,NaN,NaN,...,11266,3.0,FIXXTER SAS,NaN,NaN,NaN,CL 126 70 G 62,2853984,BOGOTÁ,NaN
4,2023/01/01,CC 00000073,CC,73,361005,PERDIDA DEL EJERCICIO,TRASLADO DE RESULTADOS DE AÑO 2022,C,NaN,NaN,...,6124,1.0,CO SERVICES S.A.S,NaN,NaN,NaN,CR 20 187 71 SEC 13 OF 47,3144307737,BOGOTÁ,NaN

In [7]:
# Elimina columnas del dataframe transaccional que no son funcionales para el análisis
df_Mov_00 = df_Mov_00.drop(['NOM_CUENTA', 'NATURALEZA', 'CODIGO_CTABANCARIA', 'CODIGO_USUARIO', 'FECHA_SISTEMA', 'IND_CONTABILIDAD', 'DESCRIPCION_CORTA', 'DIRECCION', 'TELEFONOS', 'NOM_CIUDAD', 'C_C'], axis=1)

# Muestra las primeras 5 filas del DataFrame
df_Mov_00.head()

,FECHA,DOCUMENTO,TIPODOC,NUMDOC,CUENTA,CONCEPTO,CENTRO,DEBITO,CREDITO,IDENTIDADTERCERO,DOC_FUENTE,DV,NOMBRETERCERO,CUENTA_BANCARIA,NOM_CENTRO
0,2023/04/19,FC 00000433,FC,433,51350501,OPERARIO DE ASEO Y LIMPIEZA,NaN,2280607.68,0.00,900994552,FEV-2023,3.0,FIXXTER SAS,NaN,NaN
1,2023/04/19,FC 00000433,FC,433,51350501,OPERARIO DE ASEO Y LIMPIEZA,NaN,228060.77,0.00,900994552,FEV-2023,3.0,FIXXTER SAS,NaN,NaN
2,2023/04/19,FC 00000433,FC,433,24081002,OPERARIO DE ASEO Y LIMPIEZA,NaN,43331.55,0.00,900994552,FEV-2023,3.0,FIXXTER SAS,NaN,NaN
3,2023/04/19,FC 00000433,FC,433,23355004,OPERARIO DE ASEO Y LIMPIEZA,NaN,0.00,2552000.00,900994552,FEV-2023,3.0,FIXXTER SAS,NaN,NaN
4,2023/01/01,CC 00000073,CC,73,361005,TRASLADO DE RESULTADOS DE AÑO 2022,NaN,0.00,71627508.55,901513634,CC 00000073,1.0,CO SERVICES S.A.S,NaN,NaN

In [8]:
df_Mov_00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3868 entries, 0 to 3867
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FECHA             3868 non-null   object
 1   DOCUMENTO         3868 non-null   object
 2   TIPODOC           3868 non-null   object
 3   NUMDOC            3868 non-null   int64
 4   CUENTA            3868 non-null   int64
 5   CONCEPTO          3868 non-null   object
 6   CENTRO            0 non-null      float64
 7   DEBITO            3868 non-null   float64
 8   CREDITO           3868 non-null   float64
 9   IDENTIDADTERCERO  3868 non-null   int64
 10  DOC_FUENTE        2812 non-null   object
 11  DV                2268 non-null   float64
 12  NOMBRETERCERO     3868 non-null   object
 13  CUENTA_BANCARIA   1233 non-null   object
 14  NOM_CENTRO        0 non-null      float64
dtypes: float64(5), int64(3), object(7)
memory usage: 453.4+ KB

In [9]:
# Cambia el tipo de dato de la columna FECHA a datetime
df_Mov_00['FECHA'] = pd.to_datetime(df_Mov_00['FECHA'], format='%Y/%m/%d')

# Convertir Los datos de la columna DV a tipo objeto: no se realizarán operaciones aritméticas con ellos
df_Mov_00['DV'] = df_Mov_00['DV'].astype('object')

df_Mov_00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3868 entries, 0 to 3867
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FECHA             3868 non-null   datetime64[ns]
 1   DOCUMENTO         3868 non-null   object
 2   TIPODOC           3868 non-null   object
 3   NUMDOC            3868 non-null   int64
 4   CUENTA            3868 non-null   int64
 5   CONCEPTO          3868 non-null   object
 6   CENTRO            0 non-null      float64
 7   DEBITO            3868 non-null   float64
 8   CREDITO           3868 non-null   float64
 9   IDENTIDADTERCERO  3868 non-null   int64
 10  DOC_FUENTE        2812 non-null   object
 11  DV                2268 non-null   object
 12  NOMBRETERCERO     3868 non-null   object
 13  CUENTA_BANCARIA   1233 non-null   object
 14  NOM_CENTRO        0 non-null      float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(7)
memory usage: 453.4+ KB

In [10]:
# Obtiene la posición de la columna 'DEBITO'
col_index = df_Mov_00.columns.get_loc('DEBITO')

# Inserta la nueva columna en la posición correcta
df_Mov_00.insert(col_index, 'NETO', df_Mov_00['DEBITO'] - df_Mov_00['CREDITO'])

df_Mov_00.head()

,FECHA,DOCUMENTO,TIPODOC,NUMDOC,CUENTA,CONCEPTO,CENTRO,NETO,DEBITO,CREDITO,IDENTIDADTERCERO,DOC_FUENTE,DV,NOMBRETERCERO,CUENTA_BANCARIA,NOM_CENTRO
0,2023-04-19,FC 00000433,FC,433,51350501,OPERARIO DE ASEO Y LIMPIEZA,NaN,2280607.68,2280607.68,0.00,900994552,FEV-2023,3.0,FIXXTER SAS,NaN,NaN
1,2023-04-19,FC 00000433,FC,433,51350501,OPERARIO DE ASEO Y LIMPIEZA,NaN,228060.77,228060.77,0.00,900994552,FEV-2023,3.0,FIXXTER SAS,NaN,NaN
2,2023-04-19,FC 00000433,FC,433,24081002,OPERARIO DE ASEO Y LIMPIEZA,NaN,43331.55,43331.55,0.00,900994552,FEV-2023,3.0,FIXXTER SAS,NaN,NaN
3,2023-04-19,FC 00000433,FC,433,23355004,OPERARIO DE ASEO Y LIMPIEZA,NaN,-2552000.00,0.00,2552000.00,900994552,FEV-2023,3.0,FIXXTER SAS,NaN,NaN
4,2023-01-01,CC 00000073,CC,73,361005,TRASLADO DE RESULTADOS DE AÑO 2022,NaN,-71627508.55,0.00,71627508.55,901513634,CC 00000073,1.0,CO SERVICES S.A.S,NaN,NaN

In [11]:
df_Mov_00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3868 entries, 0 to 3867
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FECHA             3868 non-null   datetime64[ns]
 1   DOCUMENTO         3868 non-null   object
 2   TIPODOC           3868 non-null   object
 3   NUMDOC            3868 non-null   int64
 4   CUENTA            3868 non-null   int64
 5   CONCEPTO          3868 non-null   object
 6   CENTRO            0 non-null      float64
 7   NETO              3868 non-null   float64
 8   DEBITO            3868 non-null   float64
 9   CREDITO           3868 non-null   float64
 10  IDENTIDADTERCERO  3868 non-null   int64
 11  DOC_FUENTE        2812 non-null   object
 12  DV                2268 non-null   object
 13  NOMBRETERCERO     3868 non-null   object
 14  CUENTA_BANCARIA   1233 non-null   object
 15  NOM_CENTRO        0 non-null      float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(7)
memory usage: 483.6+ KB

In [12]:
# Cambia el directorio de trabajo
os.chdir('C:/Emprendimiento/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento

In [13]:
# Leer las credenciales del archivo de configuración
config = configparser.ConfigParser()
config.read('config.ini')

user = config['database']['user']
password = config['database']['password']
host = config['database']['host']
database = config['database']['database']

# Abrir la base de datos
cnx = mysql.connector.connect(user=user, password=password, host=host, database=database)

# Consultar la tabla tbl_fcdir_contab
cursor = cnx.cursor()
query = ("SELECT cod_cont FROM tbl_fcdir_contab WHERE id_grp = 1")
cursor.execute(query)

# Genera lista de los valores de cod_cont
cod_cont_fcd = [item[0] for item in cursor.fetchall()]

# Cerrar la base de datos
cnx.close()

print(cod_cont_fcd)

[110505, 112005]

In [14]:
# para usar el método to_excel() de pandas → instalar biblioteca "openpyxl" o "xlsxwriter" para escribir en archivos .xlsx
# df_Mov_00.to_excel("df_Mov_00.xlsx", index=False)

# Este código exportará el DataFrame df_Mov_00 a un archivo de Excel llamado df_Mov_00.xlsx en el directorio actual. 
# El argumento index=False se utiliza para evitar la escritura del índice del DataFrame en el archivo. 
# Si se quiere mantener el índice, se omite este argumento.

In [15]:
# Crea una lista vacía
documentos_fcd = []

# Crea una lista de documentos relacionados con cuentas de "CASH AND EQUIVALENTS" (cod_cont_fcd)
for index, row in df_Mov_00.iterrows():
    if row['CUENTA'] in cod_cont_fcd and row['DOCUMENTO'] not in documentos_fcd:
        documentos_fcd.append(row['DOCUMENTO'])

num_elementos3 = len(documentos_fcd)
num_elementos3

393

In [16]:
# Crea dataframe con los documentos de la lista documentos_fcd
df_Mov_01 = df_Mov_00[df_Mov_00['DOCUMENTO'].isin(documentos_fcd)]
df_Mov_01 = df_Mov_01.reset_index(drop=True)
df_Mov_01.tail()

,FECHA,DOCUMENTO,TIPODOC,NUMDOC,CUENTA,CONCEPTO,CENTRO,NETO,DEBITO,CREDITO,IDENTIDADTERCERO,DOC_FUENTE,DV,NOMBRETERCERO,CUENTA_BANCARIA,NOM_CENTRO
939,2023-12-29,CE 00000780,CE,780,250505,PAGO LIQUIDACION FINAL,NaN,4508516.0,4508516.0,0.0,1010101811,NaN,NaN,KAREN ALEXANDRA FLOREZ MORENO,NaN,NaN
940,2023-12-29,CE 00000780,CE,780,112005,PAGO LIQUIDACION FINAL,NaN,-4508516.0,0.0,4508516.0,1010101811,NaN,NaN,KAREN ALEXANDRA FLOREZ MORENO,94400002136,NaN
941,2023-12-30,CC 00000133,CC,133,42109502,CANCELACION SALDO MENOR,NaN,38.0,38.0,0.0,901513634,NaN,1.0,CO SERVICES S.A.S,NaN,NaN
942,2023-12-30,CC 00000133,CC,133,110505,CANCELACION SALDO MENOR,NaN,-38.0,0.0,38.0,901513634,NaN,1.0,CO SERVICES S.A.S,NaN,NaN
943,2023-12-22,RC 00000057,RC,57,539520,DEVOLUCION SALDO A FAVOR IVA,NaN,454000.0,454000.0,0.0,800197268,NaN,4.0,DIAN DIRECCION DE IMPUESTOS Y ADUANAS NACIONALES,NaN,NaN

In [17]:
# Validación
# Suma de columnas en formato de miles separados por coma y redondeado con dos decimales
neto_sum = df_Mov_01['NETO'].sum()
formatted_neto_sum = "{:,.2f}".format(neto_sum)
print(formatted_neto_sum)

debito_sum = df_Mov_01['DEBITO'].sum()
formatted_debito_sum = "{:,.2f}".format(debito_sum)
print(formatted_debito_sum)

credito_sum = df_Mov_01['CREDITO'].sum()
formatted_credito_sum = "{:,.2f}".format(credito_sum)
print(formatted_credito_sum)

-0.00
1,733,784,329.32
1,733,784,329.32

In [18]:
df_Mov_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944 entries, 0 to 943
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FECHA             944 non-null    datetime64[ns]
 1   DOCUMENTO         944 non-null    object
 2   TIPODOC           944 non-null    object
 3   NUMDOC            944 non-null    int64
 4   CUENTA            944 non-null    int64
 5   CONCEPTO          944 non-null    object
 6   CENTRO            0 non-null      float64
 7   NETO              944 non-null    float64
 8   DEBITO            944 non-null    float64
 9   CREDITO           944 non-null    float64
 10  IDENTIDADTERCERO  944 non-null    int64
 11  DOC_FUENTE        340 non-null    object
 12  DV                598 non-null    object
 13  NOMBRETERCERO     944 non-null    object
 14  CUENTA_BANCARIA   441 non-null    object
 15  NOM_CENTRO        0 non-null      float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(7)
memory usage: 118.1+ KB

In [19]:
# Cambia el directorio de trabajo
# os.chdir('C:/Emprendimiento/')
#os.chdir('C:/Emprendimiento/Pry_Datos/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento

In [20]:
# Leer datos de conexión desde el archivo config.ini
config = configparser.ConfigParser()
config.read('config.ini')

# Datos de conexión a la base de datos MySQL
host = config.get('database', 'host')
user = config.get('database', 'user')
password = config.get('database', 'password')
db = config.get('database', 'database')

# Conectar a la base de datos MySQL
connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)

# Crear un cursor para ejecutar consultas SQL
cursor = connection.cursor()

# seleccionar la base de datos
cursor.execute("USE flujo_caja_directo ")

# Eliminar la tabla tbl_transacciones si ya existe
drop_table_query = "DROP TABLE IF EXISTS tbl_transacciones"
cursor.execute(drop_table_query)

# Definir la estructura de la tabla tbl_transacciones
create_table_query = """
CREATE TABLE IF NOT EXISTS tbl_transacciones (
    FECHA DATE,
    ANIO INT,
    MES INT,
    DIA INT,
    SEMANA INT,
    DOCUMENTO VARCHAR(20),
    TIPODOC VARCHAR(5),
    NUMDOC INT,
    CUENTA VARCHAR(20),
    CONCEPTO VARCHAR(255),
    NETO DECIMAL(18, 2),
    DEBITO DECIMAL(18, 2),
    CREDITO DECIMAL(18, 2),
    IDENTIDADTERCERO VARCHAR(20),
    NOMBRETERCERO VARCHAR(255),
    DOC_FUENTE VARCHAR(20),
    CENTRO VARCHAR(10),    
    NOM_CENTRO VARCHAR(255),
    GRUPO_COD int(11),
    GRUPO_NOMBRE varchar(40),
    ITEM_COD int(11),
    ITEM_NOMBRE varchar(100),
    CUENTA_BANCARIA VARCHAR(50)
)
"""

# Ejecutar la consulta para crear la tabla
cursor.execute(create_table_query)

# Cerrar el cursor
cursor.close()

# Confirmar los cambios y cerrar la conexión
connection.commit()
connection.close()

print("Tabla 'tbl_transacciones' creada exitosamente.")

Tabla 'tbl_transacciones' creada exitosamente.

1. Error: se están tomando todos los registros?
2. Pendiente: ejecutar la depuración de los documentos exclusivos para el flujo de Caja?

* Opción 1: Trabajar a nivel de dataframe
* Opción 2: Implementar función SQL

In [21]:
# Cargar el archivo de Excel en un DataFrame de pandas
# df = pd.read_excel('C:/Emprendimiento/Pry_Datos/data_2023_Mov.xlsx', engine='openpyxl')

# Crear una conexión a la base de datos
engine = create_engine(f'mysql+pymysql://{user}:{password}@localhost/flujo_caja_directo')

# Selecciona solo las columnas necesarias del DataFrame "df_Mov_01" que coinciden con las columnas de la tabla tbl_transacciones.
columns = ['FECHA', 'DOCUMENTO', 'TIPODOC', 'NUMDOC', 'CUENTA', 'CONCEPTO', 'CENTRO', 'NETO', 'DEBITO', 'CREDITO', 'IDENTIDADTERCERO', 'DOC_FUENTE', 'NOMBRETERCERO', 'NOM_CENTRO', 'CUENTA_BANCARIA']
df_Mov_01 = df_Mov_01[columns]

In [22]:
# Carga los datos del DataFrame df en la tabla tbl_transacciones de la base de datos MySQL. 
# El parámetro if_exists='append' indica que si la tabla ya existe, los datos se añadirán a los existentes en la tabla. 
# El parámetro index=False evita que se añada el índice del DataFrame como una columna adicional en la tabla de la base de datos.
df_Mov_01.to_sql('tbl_transacciones', con=engine, if_exists='append', index=False)

944

In [23]:
# Cambia el directorio de trabajo
os.chdir('C:/Emprendimiento/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento

In [24]:
# Verificar si el cursor está cerrado
try:
    cursor.execute("SELECT 1")
    print("El cursor está abierto.")
except (mysql.connector.errors.InterfaceError, mysql.connector.errors.ProgrammingError):
    print("El cursor está cerrado.")

El cursor está cerrado.

In [25]:
# Verificar si la conexión está cerrada
if connection.is_connected():
    print("La conexión está abierta.")
else:
    print("La conexión está cerrada.")

La conexión está cerrada.

In [26]:
# En la tabla tbl_transacciones: Generar datos desde la columna FECHA en las columnas ANIO, MES y SEMANA

# Asigna a la columna SEMANA el número de la semana de la columna FECHA
connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)

cursor = connection.cursor()

# ==============================================================================

# Consulta SQL para actualizar la columna ANIO con el año de la columna FECHA
query_01 = """
UPDATE tbl_transacciones
SET ANIO = YEAR(FECHA);
"""
# Ejecutar la consulta SQL
cursor.execute(query_01)
# Confirmar los cambios
connection.commit()

# ==============================================================================

# Consulta SQL para actualizar la columna MES con el mes de la columna FECHA
query_02 = """
UPDATE tbl_transacciones
SET MES = MONTH(FECHA);
"""
# Ejecutar la consulta SQL
cursor.execute(query_02)
# Confirmar los cambios
connection.commit()

# ==============================================================================

# Scritp para actualizar la columna SEMANA
query_03 = """
UPDATE tbl_transacciones
SET SEMANA = WEEK(FECHA);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_03)
# Confirmar los cambios
connection.commit()

# ==============================================================================

# Cerrar el cursor y la conexión
cursor.close()
connection.close()

La tabla "tbl_transacciones" de una Base de datos MySQL tiene (entre otras) las columnas: CUENTA, GRUPO_COD, GRUPO_NOMBRE
La tabla "tbl_fcdir_contab" de la misma Base de datos MySQL tiene (entre otras) las columnas: cod_cont, id_grp
La tabla "tbl_fcdir_grupos" de la misma Base de datos MySQL tiene (entre otras) las columnas: id_grp, name

1. En "tbl_transacciones" actualizar la columna GRUPO_COD con el contenido de la columna id_grp de la tabla "tbl_fcdir_contab" cuando el contenido CUENTA de tbl_transacciones es igual al contenido de la columna cod_cont de la tabla "tbl_fcdir_contab"
2. En "tbl_transacciones" actualizar la columna GRUPO_NOMBRE con el contenido de la columna name de la tabla "tbl_fcdir_grupos" cuando el contenido GRUPO_COD de tbl_transacciones es igual al contenido de la columna id_grp de la tabla "tbl_fcdir_grupos"

En una Base de datos MySQL:
1. La tabla "tbl_transacciones" tiene las columnas: CUENTA, ITEM_COD, ITEM_NOMBRE
2. La tabla "tbl_fcdir_contab" tiene las columnas: cod_cont, id_item_deb, id_item_cre
3. Si el contenido de la columna NETO de "tbl_transacciones" es mayor o igual a cero, actualizar la columna ITEM_COD de "tbl_transacciones" con el contenido de la columna "id_item_deb" de la tabla "tbl_fcdir_contab" cuando el contenido la columna "CUENTA" de tbl_transacciones es igual al contenido de la columna "cod_cont" de la tabla "tbl_fcdir_contab"
4. En caso contrario, si el contenido de la columna NETO de "tbl_transacciones" es menor a cero, actualizar la columna ITEM_COD de "tbl_transacciones" con el contenido de la columna "id_item_cre" de la tabla "tbl_fcdir_contab" cuando el contenido la columna "CUENTA" de tbl_transacciones es igual al contenido de la columna "cod_cont" de la tabla "tbl_fcdir_contab"
5. Actualizar la columna ITEM_NOMBRE de "tbl_transacciones" con el contenido de la columna "name" de la tabla "tbl_fcdir_items" cuando el contenido la columna "ITEM_CODE" de tbl_transacciones es igual al contenido de la columna "id_item" de la tabla "tbl_fcdir_items"

In [48]:
# En la tabla tbl_transacciones: Combinar datos desde otras tablas

# Asigna a la columna SEMANA el número de la semana de la columna FECHA
connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)
cursor = connection.cursor()

# ==============================================================================
query_10 = """
UPDATE tbl_transacciones
SET GRUPO_COD = (
    SELECT id_grp
    FROM tbl_fcdir_contab
    WHERE tbl_transacciones.CUENTA = tbl_fcdir_contab.cod_cont
);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_10)
# Confirmar los cambios
connection.commit()

# ==============================================================================
query_11 = """
UPDATE tbl_transacciones
SET GRUPO_NOMBRE = (
    SELECT name
    FROM tbl_fcdir_grupos
    WHERE tbl_transacciones.GRUPO_COD = tbl_fcdir_grupos.id_grp
);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_11)
# Confirmar los cambios
connection.commit()

# ==============================================================================
query_12 = """
UPDATE tbl_transacciones
SET ITEM_COD = (
    SELECT IF(NETO >= 0, id_item_deb, id_item_cre)
    FROM tbl_fcdir_contab
    WHERE tbl_transacciones.CUENTA = tbl_fcdir_contab.cod_cont
);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_12)
# Confirmar los cambios
connection.commit()

# ==============================================================================
query_13 = """
UPDATE tbl_transacciones
SET ITEM_NOMBRE = (
    SELECT name
    FROM tbl_fcdir_items
    WHERE tbl_transacciones.ITEM_COD = tbl_fcdir_items.id_item
);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_13)
# Confirmar los cambios
connection.commit()

# ==============================================================================

# Cerrar el cursor y la conexión
cursor.close()
connection.close()

In [49]:
# Detectar datos faltantes

connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)
cursor = connection.cursor()

# ==============================================================================

query_14 = """
SELECT DISTINCT CUENTA, DOCUMENTO FROM tbl_transacciones WHERE ITEM_COD IS NULL;
"""
# Ejecutar la consulta SQL
cursor.execute(query_14)

# Obtener los resultados de la consulta
result = cursor.fetchall()

# No es necesario hacer commit después de una consulta SELECT

# ==============================================================================

# Cerrar el cursor y la conexión
cursor.close()
connection.close()

# Imprimir la cantidad de lìneas con ITEM_COD nulo
print(f"Se encontraron {len(result)} líneas con ITEM_COD nulo.") 

# Imprimir los resultados de la consulta
for row in result:
    print(row)

Se encontraron 0 líneas con ITEM_COD nulo.

Si se encuentran registros con ITEM_COD nulo
* Opción 1: corregir/agragar causaciones
* Opción 1: agregar códigos a las tablas

Si se requiere agregar un código a la tabla:
* Determinar a que grupo pertenece el item a adicionar  
  * 2:Financing
  * 3:Investing
  * 4:Operaing
* Agregar el item necesario en la tabla de items: tbl_fcdir_items
* Agregar el código de cuenta necesario en la tabla de códigos contables: tbl_fcdir_contab

In [ ]:
# Seleccionar

==============================================================================================================================

Bases de Datos
* Crear/cargar códigos de grupos
* Crear/cargar códigos de items
* Crear/cargar calendario con semanas

Cargar información en Dataframe con registros para Flujo de Caja Directo
* Cargar desde la tabla/Base de datos códigos de item y grupo
* Cargar desde la tabla/Base de datos calendario: semana, mes y año al dataframe
* Advertir sobre los registros que quedan sin código

Seguridad

==============================================================================================================================


Dataframe: Función para seleccionar los documentos que se deben seleccionar
* Por tipo de documento → Opción desechada
* Aquellos que tienen algún registro cuyo campo item = "Cash and equivalent"

Función
* Seleccionar un documento con Unique para trasladarlo a un dataset temporal
* Verificar si contiene una de las cuentas tipo "Cash and Equivalent"
  * En caso afirmativo agregar los registros al dataframe df_mov_cash
  * En caso negativo agregar los registros al dataframe df_mov_nocash


Base de datos
* Base de datos con datos reales (actualizar: funciones de agrupación o agregación) desde el Dataframe con registros Flujo de Caja Directo
* Base de datos con datos proyectados (cargar cifras)

Reportes
* Flujo de Caja Directo con datos reales
* Flujo de Caja Directo con datos proyectados
* Flujo de Caja Directo con datos reales (ytd) y estimados (forecast)

Convertir a un archivo Python ejecutable

# Primera vez
* git init
* git add .
* git commit -m "Initial commit"
* git remote remove origin (opcional)
* git remote add origin https://github.com/rosillogithub/Flujo_Caja_Directo.git
* git push -u origin main

* git pull origin main --allow-unrelated-histories 
* git pull --rebase origin main (cuando la situación lo requiere)


git remote -v se usa para ver a qué URL apunta tu repositorio Git actualmente. Este comando muestra todas las conexiones remotas que tienes configuradas y las URL a las que apuntan.
* origin  https://github.com/rosillogithub/Flujo_Caja_Directo.git (fetch)
* origin  https://github.com/rosillogithub/Flujo_Caja_Directo.git (push)

fetch: Este comando se utiliza para obtener los últimos cambios desde un repositorio remoto, pero sin fusionarlos con tu rama local. Es decir, git fetch te permite ver los cambios recientes en el repositorio remoto, pero no afecta tu trabajo local. Después de hacer un fetch, puedes decidir si quieres fusionar esos cambios en tu rama local con git merge.

push: Este comando se utiliza para enviar tus cambios locales a un repositorio remoto. Después de hacer cambios en tu repositorio local y hacer commit de esos cambios, puedes usar git push para subir esos cambios al repositorio remoto, para que otras personas puedan verlos y obtenerlos.

==========================================================================================================================================================

git push se utiliza para subir (push) tus cambios locales a un repositorio remoto. Después de hacer cambios en tu repositorio local y hacer commit de esos cambios, puedes usar git push para subir esos cambios al repositorio remoto, para que otras personas puedan verlos y obtenerlos.

git push -f origin main
* Se usa para subir los cambios locales al repositorio remoto sin descargar los cambios del repositorio remoto, puedes usar git push -f o git push --force. 
* Este comando forzará a Git a subir los cambios locales al repositorio remoto, incluso si esto sobrescribe los cambios en el repositorio remoto.

==========================================================================================================================================================

git pull se utiliza para obtener (pull) los cambios más recientes desde un repositorio remoto a tu repositorio local. Si otras personas han realizado cambios en el repositorio remoto y los han subido (push), puedes usar git pull para obtener esos cambios y mantener tu repositorio local actualizado.

Crear el archivo .gitignore
* echo "" > .gitignore

# GitHub
Ahora que has hecho push de tu repositorio local a GitHub, puedes hacer lo siguiente en GitHub:

1. Verifica tus cambios: Ve a la URL de tu repositorio (https://github.com/rosillogithub/Flujo_Caja_Directo.git) y deberías ver todos los archivos y commits que has hecho push desde tu repositorio local.

2. Continúa trabajando en tu proyecto: Puedes seguir haciendo cambios en tu repositorio local y luego hacer push de esos cambios a GitHub con git push.

3. Comparte tu proyecto: Puedes compartir la URL de tu repositorio con otras personas para que puedan ver, clonar o bifurcar tu proyecto.

4. Colabora con otros: Si estás trabajando con otros en este proyecto, pueden clonar el repositorio a sus propias máquinas y luego hacer push de sus cambios a GitHub.

5. Aprovecha las características de GitHub: GitHub tiene muchas características útiles, como la gestión de problemas, las solicitudes de extracción, las páginas de GitHub, y más. Puedes explorar estas características para ver cómo pueden ayudarte en tu proyecto.

Recuerda que cada vez que hagas un cambio en tu repositorio local que quieras subir a GitHub, debes hacer un commit de ese cambio con git commit y luego hacer push del commit a GitHub con git push.

# Siguientes sincronizaciones con GitHub
* git init
* git add .
* git commit -m "descripción"
* git remote -v (opcional): Muestra todas las conexiones remotas que tienes configuradas y las URL a las que apuntan.
* git push -u origin main: Después cambios en el repositorio local, hacer commit de los cambios, "push" sube los cambios al repositorio remoto.
* git push -f origin main (opcional): Sube los cambios locales al repositorio remoto sin descargar los cambios del repositorio remoto (git push -f o git push --force). Este comando forzará a Git a subir los cambios locales al repositorio remoto, incluso si esto sobrescribe los cambios en el repositorio remoto.

==========================================================================================================================================================

git pull se utiliza para obtener (pull) los cambios más recientes desde un repositorio remoto a tu repositorio local. Si otras personas han realizado cambios en el repositorio remoto y los han subido (push), puedes usar git pull para obtener esos cambios y mantener tu repositorio local actualizado.