In [1]:
import os
import pandas as pd
import mysql.connector
import configparser
from sqlalchemy import create_engine
import pymysql
import sys

In [2]:
# Cambia el directorio de trabajo
os.chdir('C:/Emprendimiento/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento

In [3]:
# Cambia el directorio de trabajo
os.chdir('C:/Emprendimiento/')
#os.chdir('C:/Emprendimiento/Pry_Datos/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento

* Cargar datos de un archivo Excel en un DataFrame de Pandas y luego 
* insertar esos datos en una tabla de una base de datos MySQL utilizando SQLAlchemy.

In [4]:
# Leer datos de conexión desde el archivo config.ini
config = configparser.ConfigParser()
config.read('config.ini')

# Datos de conexión a la base de datos MySQL
host = config.get('database', 'host')
user = config.get('database', 'user')
password = config.get('database', 'password')
db = config.get('database', 'database')

# Conectar a la base de datos MySQL
connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)

# Crear un cursor para ejecutar consultas SQL
cursor = connection.cursor()

# seleccionar la base de datos
cursor.execute("USE flujo_caja_directo ")

# Eliminar la tabla tbl_transacciones si ya existe
drop_table_query = "DROP TABLE IF EXISTS tbl_transacciones"
cursor.execute(drop_table_query)

# Definir la estructura de la tabla tbl_transacciones
create_table_query = """
CREATE TABLE IF NOT EXISTS tbl_transacciones (
    FECHA DATE,
    DOCUMENTO VARCHAR(20),
    TIPODOC VARCHAR(5),
    NUMDOC INT,
    CUENTA VARCHAR(20),
    CONCEPTO VARCHAR(255),
    NATURALEZA VARCHAR(1),
    CENTRO VARCHAR(10),
    DEBITO DECIMAL(18, 2),
    CREDITO DECIMAL(18, 2),
    IDENTIDADTERCERO VARCHAR(20),
    DOC_FUENTE VARCHAR(20),
    NOMBRETERCERO VARCHAR(255),
    CUENTA_BANCARIA VARCHAR(50)
)
"""

# Ejecutar la consulta para crear la tabla
cursor.execute(create_table_query)

# Cerrar el cursor
cursor.close()

# Confirmar los cambios y cerrar la conexión
connection.commit()
connection.close()

print("Tabla 'tbl_transacciones' creada exitosamente.")

Tabla 'tbl_transacciones' creada exitosamente.

In [5]:
# Cargar el archivo de Excel en un DataFrame de pandas
df = pd.read_excel('C:/Emprendimiento/Pry_Datos/data_2023_Mov.xlsx', engine='openpyxl')

# Crear una conexión a la base de datos
engine = create_engine(f'mysql+pymysql://{user}:{password}@localhost/flujo_caja_directo')

# Selecciona solo las columnas necesarias del DataFrame df que coinciden con las columnas de la tabla tbl_transacciones.
columns = ['FECHA', 'DOCUMENTO', 'TIPODOC', 'NUMDOC', 'CUENTA', 'CONCEPTO', 'NATURALEZA', 'CENTRO', 'DEBITO', 'CREDITO', 'IDENTIDADTERCERO', 'DOC_FUENTE', 'NOMBRETERCERO', 'CUENTA_BANCARIA']
df = df[columns]

In [1]:
# Carga los datos del DataFrame df en la tabla tbl_transacciones de la base de datos MySQL. 
# El parámetro if_exists='append' indica que si la tabla ya existe, los datos se añadirán a los existentes en la tabla. 
# El parámetro index=False evita que se añada el índice del DataFrame como una columna adicional en la tabla de la base de datos.
df.to_sql('tbl_transacciones', con=engine, if_exists='append', index=False)

NameError: name 'df' is not defined

In [7]:
# Cambia el directorio de trabajo
os.chdir('C:/Emprendimiento/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento

In [8]:
# Verificar si el cursor está cerrado
try:
    cursor.execute("SELECT 1")
    print("El cursor está abierto.")
except (mysql.connector.errors.InterfaceError, mysql.connector.errors.ProgrammingError):
    print("El cursor está cerrado.")

El cursor está cerrado.

In [9]:
# Verificar si la conexión está cerrada
if connection.is_connected():
    print("La conexión está abierta.")
else:
    print("La conexión está cerrada.")

La conexión está cerrada.

In [10]:
# Conectar a la base de datos MySQL
connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)

# Crear un cursor para ejecutar consultas SQL
cursor = connection.cursor()

# Ejecutar SQL
cursor.execute("""
    ALTER TABLE tbl_transacciones
    ADD COLUMN NETO DECIMAL(18, 2),           
    ADD COLUMN GRUPO_COD int(11),
    ADD COLUMN GRUPO_NOMBRE varchar(40),
    ADD COLUMN ITEM_COD int(11),
    ADD COLUMN ITEM_NOMBRE varchar(100);
""")

# Cerrar el cursor
cursor.close()

# Confirmar los cambios y cerrar la conexión
connection.commit()
connection.close()

print("Tabla 'tbl_transacciones': Columnas agregadas exitosamente.")

Tabla 'tbl_transacciones': Columnas agregadas exitosamente.

## Proceso para cargar transacciones
* Eliminar todos los registros de la tabla
* Cargar todas las transacciones
* Cargar saldos del efectivo → inicial y Final 
  * Desde un balance de comprobación?
  * Input manual?