In [1]:
import os
import pandas as pd
import mysql.connector
import configparser
from sqlalchemy import create_engine
import pymysql
import sys

In [3]:
# Cambia el directorio de trabajo
os.chdir('C:/Emprendimiento/')
#os.chdir('C:/Emprendimiento/Pry_Datos/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento

* Cargar datos de un archivo Excel en un DataFrame de Pandas y luego 
* insertar esos datos en una tabla de una base de datos MySQL utilizando SQLAlchemy.

In [4]:
# Leer datos de conexión desde el archivo config.ini
config = configparser.ConfigParser()
config.read('config.ini')

# Datos de conexión a la base de datos MySQL
host = config.get('database', 'host')
user = config.get('database', 'user')
password = config.get('database', 'password')
db = config.get('database', 'database')

# Conectar a la base de datos MySQL
connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)

# Crear un cursor para ejecutar consultas SQL
cursor = connection.cursor()

# seleccionar la base de datos
cursor.execute("USE flujo_caja_directo ")

# Eliminar la tabla tbl_transacciones si ya existe
drop_table_query = "DROP TABLE IF EXISTS tbl_transacciones"
cursor.execute(drop_table_query)

# Definir la estructura de la tabla tbl_transacciones
create_table_query = """
CREATE TABLE IF NOT EXISTS tbl_transacciones (
    FECHA DATE,
    ANIO INT,
    MES INT,
    DIA INT,
    SEMANA INT,
    DOCUMENTO VARCHAR(20),
    TIPODOC VARCHAR(5),
    NUMDOC INT,
    CUENTA VARCHAR(20),
    CONCEPTO VARCHAR(255),
    NATURALEZA VARCHAR(1),
    CENTRO VARCHAR(10),
    DEBITO DECIMAL(18, 2),
    NETO DECIMAL(18, 2),
    CREDITO DECIMAL(18, 2),
    IDENTIDADTERCERO VARCHAR(20),
    DOC_FUENTE VARCHAR(20),
    NOMBRETERCERO VARCHAR(255),
    GRUPO_COD int(11),
    GRUPO_NOMBRE varchar(40),
    ITEM_COD int(11),
    ITEM_NOMBRE varchar(100),
    CUENTA_BANCARIA VARCHAR(50)
)
"""

# Ejecutar la consulta para crear la tabla
cursor.execute(create_table_query)

# Cerrar el cursor
cursor.close()

# Confirmar los cambios y cerrar la conexión
connection.commit()
connection.close()

print("Tabla 'tbl_transacciones' creada exitosamente.")

Tabla 'tbl_transacciones' creada exitosamente.

1. Error: se están tomando todos los registros 
2. Pendiente: ejecutar la depuración de los documentos exclusivos para el flujo de Caja

* Opción 1: Trabajar a nivel de dataframe
* Opción 2: Implementar función SQL

In [5]:
# Cargar el archivo de Excel en un DataFrame de pandas
df = pd.read_excel('C:/Emprendimiento/Pry_Datos/data_2023_Mov.xlsx', engine='openpyxl')

# Crear una conexión a la base de datos
engine = create_engine(f'mysql+pymysql://{user}:{password}@localhost/flujo_caja_directo')

# Selecciona solo las columnas necesarias del DataFrame df que coinciden con las columnas de la tabla tbl_transacciones.
columns = ['FECHA', 'DOCUMENTO', 'TIPODOC', 'NUMDOC', 'CUENTA', 'CONCEPTO', 'NATURALEZA', 'CENTRO', 'DEBITO', 'CREDITO', 'IDENTIDADTERCERO', 'DOC_FUENTE', 'NOMBRETERCERO', 'CUENTA_BANCARIA']
df = df[columns]

In [6]:
# Carga los datos del DataFrame df en la tabla tbl_transacciones de la base de datos MySQL. 
# El parámetro if_exists='append' indica que si la tabla ya existe, los datos se añadirán a los existentes en la tabla. 
# El parámetro index=False evita que se añada el índice del DataFrame como una columna adicional en la tabla de la base de datos.
df.to_sql('tbl_transacciones', con=engine, if_exists='append', index=False)

3868

In [7]:
# Cambia el directorio de trabajo
os.chdir('C:/Emprendimiento/')

# Imprime la ruta del directorio de trabajo actual
print(os.getcwd())

C:\Emprendimiento

In [8]:
# Verificar si el cursor está cerrado
try:
    cursor.execute("SELECT 1")
    print("El cursor está abierto.")
except (mysql.connector.errors.InterfaceError, mysql.connector.errors.ProgrammingError):
    print("El cursor está cerrado.")

El cursor está cerrado.

In [9]:
# Verificar si la conexión está cerrada
if connection.is_connected():
    print("La conexión está abierta.")
else:
    print("La conexión está cerrada.")

La conexión está cerrada.

In [10]:
# En la tabla tbl_transacciones: Generar datos desde la columna FECHA en las columnas ANIO, MES y SEMANA

# Asigna a la columna SEMANA el número de la semana de la columna FECHA
connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)

cursor = connection.cursor()

# ==============================================================================

# Consulta SQL para actualizar la columna ANIO con el año de la columna FECHA
query_01 = """
UPDATE tbl_transacciones
SET ANIO = YEAR(FECHA);
"""
# Ejecutar la consulta SQL
cursor.execute(query_01)
# Confirmar los cambios
connection.commit()

# ==============================================================================

# Consulta SQL para actualizar la columna MES con el mes de la columna FECHA
query_02 = """
UPDATE tbl_transacciones
SET MES = MONTH(FECHA);
"""
# Ejecutar la consulta SQL
cursor.execute(query_02)
# Confirmar los cambios
connection.commit()

# ==============================================================================

# Scritp para actualizar la columna SEMANA
query_03 = """
UPDATE tbl_transacciones
SET SEMANA = WEEK(FECHA);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_03)
# Confirmar los cambios
connection.commit()

# ==============================================================================
# ==============================================================================

# En la tabla tbl_transacciones: Cálcular el valor de la columna NETO como la diferencia entre las columnas DEBITO y CREDITO
# Scritp para actualizar la columna NETO
query_04 = """
UPDATE tbl_transacciones
SET NETO = DEBITO - CREDITO;
"""
# Ejecutar el comando UPDATE
cursor.execute(query_04)
# Confirmar los cambios
connection.commit()

# ==============================================================================

# Cerrar el cursor y la conexión
cursor.close()
connection.close()

La tabla "tbl_transacciones" de una Base de datos MySQL tiene (entre otras) las columnas: CUENTA, GRUPO_COD, GRUPO_NOMBRE
La tabla "tbl_fcdir_contab" de la misma Base de datos MySQL tiene (entre otras) las columnas: cod_cont, id_grp
La tabla "tbl_fcdir_grupos" de la misma Base de datos MySQL tiene (entre otras) las columnas: id_grp, name

1. En "tbl_transacciones" actualizar la columna GRUPO_COD con el contenido de la columna id_grp de la tabla "tbl_fcdir_contab" cuando el contenido CUENTA de tbl_transacciones es igual al contenido de la columna cod_cont de la tabla "tbl_fcdir_contab"
2. En "tbl_transacciones" actualizar la columna GRUPO_NOMBRE con el contenido de la columna name de la tabla "tbl_fcdir_grupos" cuando el contenido GRUPO_COD de tbl_transacciones es igual al contenido de la columna id_grp de la tabla "tbl_fcdir_grupos"

En una Base de datos MySQL:
1. La tabla "tbl_transacciones" tiene las columnas: CUENTA, ITEM_COD, ITEM_NOMBRE
2. La tabla "tbl_fcdir_contab" tiene las columnas: cod_cont, id_item_deb, id_item_cre
3. Si el contenido de la columna NETO de "tbl_transacciones" es mayor o igual a cero, actualizar la columna ITEM_COD de "tbl_transacciones" con el contenido de la columna "id_item_deb" de la tabla "tbl_fcdir_contab" cuando el contenido la columna "CUENTA" de tbl_transacciones es igual al contenido de la columna "cod_cont" de la tabla "tbl_fcdir_contab"
4. En caso contrario, si el contenido de la columna NETO de "tbl_transacciones" es menor a cero, actualizar la columna ITEM_COD de "tbl_transacciones" con el contenido de la columna "id_item_cre" de la tabla "tbl_fcdir_contab" cuando el contenido la columna "CUENTA" de tbl_transacciones es igual al contenido de la columna "cod_cont" de la tabla "tbl_fcdir_contab"
5. Actualizar la columna ITEM_NOMBRE de "tbl_transacciones" con el contenido de la columna "name" de la tabla "tbl_fcdir_items" cuando el contenido la columna "ITEM_CODE" de tbl_transacciones es igual al contenido de la columna "id_item" de la tabla "tbl_fcdir_items"

In [11]:
# En la tabla tbl_transacciones: Combinar datos desde otras tablas

# Asigna a la columna SEMANA el número de la semana de la columna FECHA
connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)
cursor = connection.cursor()

# ==============================================================================
query_10 = """
UPDATE tbl_transacciones
SET GRUPO_COD = (
    SELECT id_grp
    FROM tbl_fcdir_contab
    WHERE tbl_transacciones.CUENTA = tbl_fcdir_contab.cod_cont
);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_10)
# Confirmar los cambios
connection.commit()

# ==============================================================================
query_11 = """
UPDATE tbl_transacciones
SET GRUPO_NOMBRE = (
    SELECT name
    FROM tbl_fcdir_grupos
    WHERE tbl_transacciones.GRUPO_COD = tbl_fcdir_grupos.id_grp
);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_11)
# Confirmar los cambios
connection.commit()

# ==============================================================================
query_12 = """
UPDATE tbl_transacciones
SET ITEM_COD = (
    SELECT IF(NETO >= 0, id_item_deb, id_item_cre)
    FROM tbl_fcdir_contab
    WHERE tbl_transacciones.CUENTA = tbl_fcdir_contab.cod_cont
);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_12)
# Confirmar los cambios
connection.commit()

# ==============================================================================
query_13 = """
UPDATE tbl_transacciones
SET ITEM_NOMBRE = (
    SELECT name
    FROM tbl_fcdir_items
    WHERE tbl_transacciones.ITEM_COD = tbl_fcdir_items.id_item
);
"""
# Ejecutar el comando UPDATE
cursor.execute(query_13)
# Confirmar los cambios
connection.commit()

# ==============================================================================

# Cerrar el cursor y la conexión
cursor.close()
connection.close()

In [17]:
# Detectar datos faltantes

connection = mysql.connector.connect(
    host=host,
    database=db,
    user=user,
    password=password
)
cursor = connection.cursor()

# ==============================================================================

query_14 = """
SELECT DISTINCT CUENTA FROM tbl_transacciones WHERE ITEM_COD IS NULL;
"""
# Ejecutar la consulta SQL
cursor.execute(query_14)

# Obtener los resultados de la consulta
result = cursor.fetchall()

# No es necesario hacer commit después de una consulta SELECT

# ==============================================================================

# Cerrar el cursor y la conexión
cursor.close()
connection.close()

# Imprimir la cantidad de lìneas con ITEM_COD nulo
print(f"Se encontraron {len(result)} líneas con ITEM_COD nulo.") 

# Imprimir los resultados de la consulta
for row in result:
    print(row)

Se encontraron 91 líneas con ITEM_COD nulo.
('51350501',)
('361005',)
('371005',)
('41559505',)
('51352001',)
('51353501',)
('51700503',)
('51352002',)
('51353001',)
('51350502',)
('51359501',)
('51201001',)
('23653001',)
('51952502',)
('23653002',)
('51953001',)
('24081001',)
('23654001',)
('241205',)
('510506',)
('510527',)
('250505',)
('510530',)
('510533',)
('510536',)
('510539',)
('251010',)
('251505',)
('252005',)
('252505',)
('510515',)
('510570',)
('510568',)
('510572',)
('23657501',)
('13551901',)
('23352503',)
('24081005',)
('51350504',)
('51059501',)
('42109502',)
('24081501',)
('24081505',)
('51602001',)
('51409501',)
('15922001',)
('51602004',)
('15922004',)
('134525',)
('41559506',)
('51401001',)
('23652501',)
('51109502',)
('13551902',)
('23657502',)
('511505',)
('51401002',)
('510569',)
('53152003',)
('51159502',)
('51052408',)
('51052403',)
('51054801',)
('510551',)
('51059510',)
('51103501',)
('23651502',)
('23352509',)
('51502003',)
('51700502',)
('51054501',)
('132510',)
('137010',)
('54050501',)
('240405',)
('51109501',)
('53152004',)
('310505',)
('310510',)
('131015',)
('510560',)
('23652504',)
('280505',)
('425015',)
('425045',)
('15280501',)
('15280504',)
('531015',)
('13552002',)
('171076',)
('54050502',)

## Proceso para cargar transacciones
* Eliminar todos los registros de la tabla → OK
* Cargar todas las transacciones  → OK
* Calcular datos desde la FECHA  → OK
* Calcular NETO → OK
* Combinar tablas para tomar informaciòn de códigos de flujo de caja → OK
* Cargar saldos del efectivo → inicial y Final 
  * Desde un balance de comprobación?
  * Input manual?